# VacationPy

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv("../WeatherPy/output_data/weather_data.csv")
weather_df

,City,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
0,Komyshuvakha,UA,47.72,35.53,46.20,100,90,8.95
1,Bengkulu,ID,-3.80,102.27,80.02,75,100,2.39
2,Punta Arenas,CL,-53.15,-70.92,46.40,87,90,4.70
3,Yellowknife,CA,62.46,-114.35,3.90,77,75,8.05
4,Mataura,NZ,-46.19,168.86,57.99,82,100,13.00
...,...,...,...,...,...,...,...,...
578,Neuquén,AR,-38.95,-68.06,66.20,20,0,16.11
579,St. George's,GD,12.06,-61.75,80.60,78,20,9.17
580,Charters Towers,AU,-20.10,146.27,88.36,30,0,7.40
581,Rørvik,NO,64.86,11.24,48.96,85,100,56.10
582,Aromashevo,RU,56.86,68.64,32.49,96,39,11.97

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key = g_key)

In [4]:
# Store latitude and longitude in locations
locations = weather_df[["Latitude", "Longitude"]]

# Set humidity as weight
weight = weather_df["Humidity"]

In [5]:
# Plot Heatmap
fig = gmaps.figure(map_type = "TERRAIN")

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = weight, dissipating = False, max_intensity = 300, point_radius = 5)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
ideal_city_df = weather_df.loc[weather_df ["Temperature"] >= 78]
ideal_city_df = ideal_city_df[ideal_city_df ["Temperature"] < 88]
ideal_city_df = ideal_city_df[ideal_city_df ["Wind Speed"] < 5]
ideal_city_df = ideal_city_df[ideal_city_df ["Cloudiness"] < 10]
ideal_city_df = ideal_city_df[ideal_city_df ["Humidity"] < 80]
ideal_city_df.dropna()

,City,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
79,Cabo San Lucas,MX,22.89,-109.91,84.34,58,5,2.24
99,Saint George,US,37.10,-113.58,78.80,19,1,4.70
173,Kulhudhuffushi,MV,6.62,73.07,81.70,65,0,1.68
238,Linguère,SN,15.40,-15.12,80.60,61,0,4.70
246,Nabire,ID,-3.37,135.48,87.73,58,0,3.69
257,Batticaloa,LK,7.71,81.69,79.16,79,4,2.59
272,Santa Cruz de la Sierra,BO,-17.80,-63.17,82.40,42,0,4.70
298,Jacareacanga,BR,-6.22,-57.75,78.42,78,8,1.43
464,Biak,ID,-0.91,122.88,83.97,65,0,2.19
494,Atambua,ID,-9.11,124.89,87.85,41,0,4.16
508,Dhidhdhoo,MV,6.88,73.10,81.64,66,0,1.57
518,Airai,TL,-8.93,125.41,78.93,36,6,4.54
563,Atar,MR,20.52,-13.05,80.06,17,0,2.51

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# Store ideal city data into new variable & add "Hotel Name" column
hotel_df = ideal_city_df
hotel_df["Hotel Name"] = ""
hotel_df.head()

,City,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Hotel Name
79,Cabo San Lucas,MX,22.89,-109.91,84.34,58,5,2.24,
99,Saint George,US,37.10,-113.58,78.80,19,1,4.70,
173,Kulhudhuffushi,MV,6.62,73.07,81.70,65,0,1.68,
238,Linguère,SN,15.40,-15.12,80.60,61,0,4.70,
246,Nabire,ID,-3.37,135.48,87.73,58,0,3.69,

In [8]:
# Set parameters to search for hotels wihtin 10,000 meters
# Using 10,000 meters as radius since only one city had hotel within 5,000 meters
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {
    "radius": 10000, 
    "types": "hotel",
    "key": g_key    
}

In [9]:
# Hit Google Places API for each city's coordinates
# Use iterrows to iterate through dataframe
for index, row in hotel_df.iterrows():
    
    # Get latitude & longitude from dataframe
    latitude = row["Latitude"]
    longitude = row["Longitude"]
    
    # Add keyword to params dict
    params["location"] = f"{latitude},{longitude}"

    # Assemble url and make API request
    response = requests.get(base_url, params = params).json()
    
    # Extract results 
    results = response["results"]
    
    # Store hotels into hotel_df
    try:
        hotel_df.loc[index, "Hotel Name"] = response["results"][0]["name"]
    except (KeyError, IndexError):
        hotel_df.loc[index, "Hotel Name"] = "Missing field/result"
        
hotel_df

,City,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Hotel Name
79,Cabo San Lucas,MX,22.89,-109.91,84.34,58,5,2.24,Cabo San Lucas
99,Saint George,US,37.10,-113.58,78.80,19,1,4.70,St. George
173,Kulhudhuffushi,MV,6.62,73.07,81.70,65,0,1.68,Nolhivaran
238,Linguère,SN,15.40,-15.12,80.60,61,0,4.70,Linguere
246,Nabire,ID,-3.37,135.48,87.73,58,0,3.69,Nabire
257,Batticaloa,LK,7.71,81.69,79.16,79,4,2.59,Batticaloa
272,Santa Cruz de la Sierra,BO,-17.80,-63.17,82.40,42,0,4.70,Santa Cruz de la Sierra
298,Jacareacanga,BR,-6.22,-57.75,78.42,78,8,1.43,Jacareacanga
464,Biak,ID,-0.91,122.88,83.97,65,0,2.19,CV. Karya Alam Perkasa
494,Atambua,ID,-9.11,124.89,87.85,41,0,4.16,Atambua
508,Dhidhdhoo,MV,6.88,73.10,81.64,66,0,1.57,Vashafaru
518,Airai,TL,-8.93,125.41,78.93,36,6,4.54,Atsabe
563,Atar,MR,20.52,-13.05,80.06,17,0,2.51,Atar

In [10]:
# NOTE: Do not change any of the code in this cell
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [11]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))